@font-face {
	font-family: retro;
	src: url('retro.ttf') format('truetype');
}

body { font-family: retro; font-size: 10px; line-height: 1.5; }
input, button { font-family: retro; }
input { border:0; background: none; }
button { cursor: pointer }
h1 { width: 960px; margin: 20px auto 0; font-weight: normal; line-height: 1em; position: relative; }
#Einie { margin: 40px auto 40px; display: block; background: lightBlue url(eifle.png) no-repeat 50px 30%; }
#fps-console { position: absolute; top: 65px; left: 50%; margin-left: 400px; }
#i-love-walking-along-the-sea-shore, #and-listen-to-the-seaguls-crying-for-attention { width: 960px; height: 63px; margin: 0 auto; position: relative; z-index: 10; }
#i-love-walking-along-the-sea-shore { opacity: 0.6; background: url(bg1.png) no-repeat; -webkit-animation:ahoy-sailor 4s infinite; margin-top: -63px; }
#and-listen-to-the-seaguls-crying-for-attention { opacity: 0.7; background: url(bg2.png) no-repeat; -webkit-animation:ahoy-sailor-from-the-back 4s infinite; margin-top: -167px; }

@-webkit-keyframes ahoy-sailor {
	0% { background-position: 0 5px; }
	50% { background-position: 0 0; }
	100% { background-position:  0 5px; }
}

@-webkit-keyframes ahoy-sailor-from-the-back {
	0% { background-position: 0 0; }
	50% { background-position: 0 5px; }
	100% { background-position:  0 0; }
}
@-webkit-keyframes movayaha {
	0% { top: 0px }
	25% { top: -10px }
	75% { top: 10px; }
	100% { top:  0; }
}
#pewpewtowers-game-won { display: none; }
#pewpewtowers-menu, #pewpewtowers-game-won { font-weight: bold; height: 480px; width: 960px; position: absolute; left: 50%; margin-left: -480px; margin-top: -520px; z-index: 2000; }
#pewpewtowers-menu h1,
#pewpewtowers-game-won h1 { text-align: center; margin: 100px auto 40px; font-size: 5em; -webkit-animation: movayaha linear 3s infinite; }
#pewpewtowers-game-won h1 { margin-top: 140px; }
#pewpewtowers-menu div, #pewpewtowers-menu input, #pewpewtowers-menu button { font-size: 1.2em; }
#pewpewtowers-menu input { width: 50px; }
#pewpewtowers-menu button { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#pewpewtowers-menu div, #pewpewtowers-game-won div { text-align: center; margin-bottom: 20px; }

#pewpewtowers-menu div.credits { margin-top: 30px; color: #6d6f6f; font-size: 1em; }
a { color: #3fa4bf; }

#pewpewtowers-menu h1, #pewpewtowers-game-won h1 {
	  -moz-transform: rotate(-5deg);  
  -webkit-transform: rotate(-5deg); 
      -ms-transform: rotate(-5deg); 
          transform: rotate(-5deg); 
}